body
{
    font-family: sans-serif;
    background-color: rgb(244, 252, 255);
}

h1 {
    text-align: center;
    /* margin: 2rem; */
}



form {
    width: 40rem;
    margin: auto;
    align-items: center;
    padding: 0.25rem 1rem;
    background-color: rgb(240, 248, 248);
    box-shadow: 0 2px 8px rgba(0, 0 , 0, 0.2);
    border-radius: 6px;
}

section {
    margin: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.reply-list {
    display: flex;
}

label {
    color: rgb(34, 34, 71);
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    font: inherit;
    padding: 0.5rem;
    border: 1px solid rgb(80, 81, 83);
    border-radius: 4px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    background-color: rgb(236, 236, 241);
}

input:hover, textarea:hover, select:hover {
    background-color: rgb(236, 236, 241);
}

.inline-control {
    display: flex;
}

.inline-control label {
    margin: 0;
    margin-left: 0.5rem;
}

.inline-control input {
    width: auto;
}

button {
    font: inherit;
    border: 1px solid rgb(118, 118, 156);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#btn {
    text-align: right;
}

.btn-filled {
    background-color: rgb(68, 68, 141);
    color: white;
}

.btn-empty {
    background-color: transparent;
    color: rgb(68, 68, 141);
}

.btn-filled:hover {
    background-color: rgb(135, 135, 209);
    border-color: rgb(194, 194, 226);
}

.btn-empty:hover {
    background-color: rgb(206, 206, 235);
    border-color: rgb(194, 194, 226);
}


